<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>나의 강의 관리</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
<header class="container">
  <nav>
    <ul>
      <li><strong>나의 강의 관리</strong></li>
    </ul>
    <ul>
      <li><a href="/study">강의 목록</a></li>
      <li><a href="/lecture/register/fastcampus">강의 등록</a></li>
      <li><a href="/curriculum">커리큘럼 목록</a></li>
      <li><a href="/lecturer/register">강사 등록</a></li>
      <li></li>
      <li></li>
      <li><strong sec:authentication="principal.username"></strong> 님</li>
      <li><button class="secondary" onclick="location.href = '/logout'">로그아웃</button></li>
    </ul>
  </nav>
  <hgroup>
    <h1 layout:fragment="title">제목</h1>
    <p layout:fragment="subtitle">부제목</p>
  </hgroup>
</header>
<main class="container" layout:fragment="content"></main>
<footer class="container">
  <small>Built with <a href="https://picocss.com">Pico</a></small>
</footer>
</body>
</html>