<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>커리큘럼 목록</title>
</head>
<body>
<h1 layout:fragment="title">커리큘럼 목록</h1>
<p layout:fragment="subtitle">등록된 커리큘럼 목록을 확인할 수 있습니다.</p>
<main layout:fragment="content">
  <form th:action="@{/curriculum}" method="get" th:object="${request}" >
    <fieldset role="group">
      <select name="lectureId" aria-label="강의">
        <option value="">강의</option>
        <option th:selected="${lecture.lectureId} == *{lectureId}" th:each="lecture : ${lectures}" th:value="${lecture.lectureId}" th:text="${lecture.lectureName}"></option>
      </select>
      <input type="text" name="lecturerName" th:value="*{lecturerName}" placeholder="강사명">
      <input type="text" name="curriculumName" th:value="*{curriculumName}" placeholder="커리큘럼명">
    <input type="submit" value="검색">
    </fieldset>
  </form>
  <section id="tables">
    <h2>커리큘럼 목록</h2>
    <div>
      <table class="striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">강의명</th>
          <th scope="col">커리큘럼명</th>
          <th style="min-width: 100px" scope="col">강사명</th>
          <th style="min-width: 100px" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curriculum : ${curriculums}">
          <th scope="row" th:text="${curriculumStat.index + 1}"></th>
          <td th:if="${#strings.isEmpty(curriculum.lecturePath)}" th:text="${curriculum.lectureName}"></td>
          <td th:unless="${#strings.isEmpty(curriculum.lecturePath)}">
            <a th:href="${curriculum.lecturePath}" th:text="${curriculum.lectureName}" target="_blank"></a>
          </td>
          <td th:text="${curriculum.curriculumName}"></td>
          <td th:text="${curriculum.lecturerName} ? ${curriculum.lecturerName} : '-'"></td>
          <td><a th:href="'/curriculum/' + ${curriculum.curriculumId} + '/modify'">수정</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
</body>
</html>