<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>강의 등록</title>
</head>
<body>
<h1 layout:fragment="title">강의 등록</h1>
<p layout:fragment="subtitle">강의를 등록할 수 있습니다.</p>
<main layout:fragment="content">
  <nav>
    <ul>
      <li><strong>강의 종류</strong></li>
    </ul>
    <ul>
      <li th:each="type : ${lecturePlatforms}">
        <strong th:if="${lecturePlatform} == ${type}" th:text="${type.name}"></strong>
        <a th:unless="${lecturePlatform} == ${type}" th:text="${type.name}"
           th:href="'/lecture/register/' + ${type.path}"></a>
      </li>
    </ul>
  </nav>
  <form th:action="'/lecture/register/' + ${lecturePlatform.path}" method="post" th:object="${request}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <mark th:each="err : ${#fields.globalErrors()}"
            th:text="${err}">글로벌 오류 메시지
      </mark>
    </div>
    <hr>
    <div th:replace="~{lecture/register/fragment::${lecturePlatform.path}}"></div>
    <hr>
    <input type="submit" value="강의 등록">
  </form>
</main>
</body>
</html>