<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>강의 등록</title>
</head>
<body>
<h1 layout:fragment="title">강의 등록</h1>
<p layout:fragment="subtitle">강의를 등록할 수 있습니다.</p>
<main layout:fragment="content">
  <form th:action="@{/lecture/register}" method="post" th:object="${request}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}"
         th:text="${err}">글로벌 오류 메시지</p>
    </div>
    <label>
      강의명
      <input type="text" th:field="*{lectureName}" placeholder="강의명" th:aria-invalid="${#fields.hasErrors('lectureName')} ? 'true' : ''">
      <small th:errors="*{lectureName}">강의명 오류</small>
    </label>
    <label>
      강의 경로
      <input type="text" th:field="*{lecturePath}" placeholder="강의 경로" th:aria-invalid="${#fields.hasErrors('lecturePath')} ? 'true' : ''">
      <small th:errors="*{lecturePath}">강의 경로 오류</small>
    </label>
    <label>
      강의 목록
      <textarea style="min-height: 400px" th:field="*{lectureInfo}" placeholder="강의 목록" th:aria-invalid="${#fields.hasErrors('lectureInfo')} ? 'true' : ''"></textarea>
      <small th:errors="*{lectureInfo}">강의 목록 오류</small>
    </label>
    <input type="submit" value="강의 등록">
  </form>
</main>
</body>
</html>