<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>강의 등록</title>
</head>
<body>
<h1 layout:fragment="title">강의 등록</h1>
<p layout:fragment="subtitle">강의를 등록할 수 있습니다.</p>
<main layout:fragment="content">
  <form th:action="'/lecture/register/' + ${lecturePlatform.path}" method="post" th:object="${request}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}"
         th:text="${err}">글로벌 오류 메시지</p>
    </div>
    <div th:replace="~{lecture/register/fragment::${lecturePlatform.path}}"></div>
  </form>
</main>
</body>
</html>