<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>강사 등록</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
<header class="container">
  <nav>
    <ul>
      <li><strong>나의 강의 관리</strong></li>
    </ul>
    <ul>
      <li><a href="/study">강의 목록</a></li>
      <li><a href="/lecture/register">강의 등록</a></li>
      <li><a href="/curriculum">커리큘럼 목록</a></li>
      <li><a href="/lecturer/register">강사 등록</a></li>
    </ul>
  </nav>
  <hgroup>
    <h1>강사 등록</h1>
    <p>강사를 등록할 수 있습니다.</p>
  </hgroup>
</header>
<main class="container">
  <form th:action="@{/lecturer/register}" method="post" th:object="${request}">
    <label>
      강사명
      <input type="text" th:field="*{lecturerName}" placeholder="강사명" th:aria-invalid="${#fields.hasErrors('lecturerName')} ? 'true' : ''">
      <small th:errors="*{lecturerName}">강사명 오류</small>
    </label>
    <input type="submit" value="강사 등록">
  </form>
</main>
<footer class="container">
  <small>Built with <a href="https://picocss.com">Pico</a></small>
</footer>
</body>
</html>