<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/permitLayout}">
<body>
<h1 layout:fragment="title">로그인</h1>
<p layout:fragment="subtitle">로그인 페이지</p>
<main layout:fragment="content">
  <mark th:if="${result.isError()}">아이디 또는 비밀번호가 일치하지 않습니다.</mark>
  <mark th:if="${result.isLogout()}">로그아웃 되었습니다.</mark>
  <hr>
  <form th:action="@{/login}" method="post">
    <label>
      아이디
      <input type="text" name="username" placeholder="아이디" required>
    </label>
    <label>
      비밀번호
      <input type="password" name="password" placeholder="비밀번호" required>
    </label>
    <label>
      자동 로그인
      <input type="checkbox" name="remember-me">
    </label>
    <hr>
    <input type="submit" value="로그인">
  </form>
</main>
</body>
</html>