<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/permitLayout}">
<body>
<h1 layout:fragment="title">회원가입</h1>
<p layout:fragment="subtitle">회원가입 페이지</p>
<main layout:fragment="content">
  <form th:action="@{/signup}" method="post" th:object="${request}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <mark th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</mark>
    </div>
    <hr>
    <label>
      아이디
      <input type="text" th:field="*{username}" placeholder="아이디" th:aria-invalid="${#fields.hasErrors('username')} ? 'true' : ''">
      <small th:errors="*{username}">아이디 오류</small>
    </label>
    <label>
      비밀번호
      <input type="password" th:field="*{password}" placeholder="비밀번호" th:aria-invalid="${#fields.hasErrors('password')} ? 'true' : ''">
      <small th:errors="*{password}">비밀번호 오류</small>
    </label>
    <hr>
    <input type="submit" value="회원가입">
  </form>
</main>
</body>
</html>